.news-card {
    border-radius: 8px;
    background-color: transparent;
    border: none!important;
}

.news-feed-text {
    padding-left: 10px;
}

.news-feed-image {
    border-radius: 8px;
    width: 100%;
    max-width: 200px!important;
    max-height: 200px!important;
    /*padding: 5px 10px!important;*/
}

.news-title, .notice .card-body h4{
    font-size: 1rem!important;
}

.news-content, .notice .card-body p{
    font-size: 0.8rem!important;
}

.news-date {
    font-size: 10px;
    text-transform: uppercase;
    color: #4d8090;
}

.member-info span{
    font-size: 10px!important;
    color: black!important;
}

.member-info span.titles{
    font-size: 10px;
    text-transform: uppercase;
    color: #008080!important;
}
.username {
    color: blue
}

.share {
    color: blue
}

.spacer{
    min-height: 2em;
}
